<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ip.fastgate">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  //<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <supports-screens android:normalScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FastGate"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ip.fastgate.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ip.fastgate.MainPageActivity"
            android:label="Menu Activity"
            android:exported="true"
            android:parentActivityName="com.ip.fastgate.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name="com.ip.fastgate.UserProfileActivity"
            android:label="Vizualizare date personale"
            android:parentActivityName="com.ip.fastgate.MainPageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="com.ip.fastgate.UserReportActivity"
            android:label="Raport Activitate"
            android:parentActivityName="com.ip.fastgate.MainPageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="com.ip.fastgate.AccessActivity"
            android:label="Activitate Acces"
            android:parentActivityName="com.ip.fastgate.MainPageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
    </application>

</manifest>